<style type="text/css">
	hr.pme-hr		     {  border: 0px solid; padding: 0px; margin: 0px; border-top-width: 1px; height: 1px; }
	table.pme-main 	     { color: black; border: #004d9c 1px solid; border-collapse: collapse; border-spacing: 0px; width: 100%; }
	table.pme-navigation { color: yellow; border: #004d9c 0px solid; border-collapse: collapse; border-spacing: 0px; width: 100%; }
	td.pme-navigation-0, td.pme-navigation-1 { white-space: nowrap; }
	th.pme-header	     { border: #004d9c 1px solid; padding: 4px; background: #33CC00; }
	td.pme-key-0, td.pme-value-0, td.pme-help-0, td.pme-navigation-0, td.pme-cell-0,
	td.pme-key-1, td.pme-value-1, td.pme-help-0, td.pme-navigation-1, td.pme-cell-1,
	td.pme-sortinfo, td.pme-filter { border: #004d9c 1px solid; padding: 3px; background: white;}
	td.pme-buttons { text-align: left;   }
	td.pme-message { color: yellow; text-align: center; }
	td.pme-stats   { color: yellow; text-align: right;  }

     body { color: yellow; background:  #1C2D67; font-family: Tahoma, Verdana; font-size: 12px; }
     a, A:link, a:visited, a:active {color: blue; text-decoration: none; font-family: Tahoma, Verdana; font-size: 12px;}

</style>
